@mixin size($width, $height:$width)
{
    width:$width;
    height:$height;
}
@mixin padding($top,$right,$bottom:$top,$left:$right)
{
    padding:$top $right $bottom $left;
}
@mixin maxWidth($maxWidth)
{
	max-width:$maxWidth;
}
@mixin Display($display:none)
{
	display: $display;
}
@mixin bgRadius($bg,$radius)
{
	background: $bg;
	border-radius:$radius;
}
@mixin textOverflow($maxWidth)
{
	max-width:$maxWidth;
	text-overflow: Ellipsis; 
    white-space: nowrap;
    overflow:hidden;
}
@mixin absolute($vertical:"top",$direction:"left",$top,$horizontal)
{
	position: absolute;
    @if($vertical=="top")
    {
    	top:$top;
    	@if($direction=="left")
    	{
    		left:$horizontal;
    	}
    	@if($direction=="right")
    	{
    		right:$horizontal;
    	}  
    }
    @if($vertical=="bottom")
    {
    	bottom:$top;
    	@if($direction=="left")
    	{
    		left:$horizontal;
    	}
    	@if($direction=="right")
    	{
    		right:$horizontal;
    	}  
    }
}
@mixin absoluteCenter($direction:"left")
{
    position:absolute;

    @if($direction=="left")
    {
        left:50%;
        transform: translateX(-50%);
    }
    @if($direction=="top")
    {
        top:50%;
        transform: translateY(-50%);
    }
    @if($direction=="both")
    {
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }

}
@mixin max-width($value)
{
    @media screen and(max-width:$value)
    {
        @content;
    }
}
@mixin min-width($value)
{
    @media screen and(min-width:$value)
    {
        @content;
    }
}