html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.6;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  margin:0px;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
  max-width: 100%;
}
a {
	outline: none;

}
a:hover{
		text-decoration: none;
		cursor: pointer;	
}
button:focus { outline: none; }
button{
	background: none;
	
}
input{
	outline: none;
}
*{
	box-sizing: border-box;
}
body{
	background: url(../image/background.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
}
.bk_none{
	background: none!important;
}
.top_bar{
	padding: 2.8vw 2.5vw;
}
.top_bar--left .celcius{
	font-size: 22px;
}
.search{
	position: relative;
}
.search input{
	width: 100%;
    height: 42px; 
    padding-left: 11px;
    border-radius: 5px;

}
/*input[type=text]
{
    background: url(../image/search.png) #fff;
    background-repeat: no-repeat;
    background-position: 45.5vw center;
}*/
.search .icon{
	position: absolute;
    top: 29%;
    left: 44.5vw;
}
.search .search_tag a{
	padding-right: 15px;
	max-width: 19ch;
	text-overflow: Ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.social{
	margin-top:33vw;
}
.social .social_item{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 119px;
	padding: 8px 40px 17px 40px;
}
.social_item--option > button{
	display: none;
	position: absolute;
    background: #928B8A;
    width: 28px;
    height: 24px;
    right: 2px;
    top: 8px;
    border-radius: 3px;
}
.social_item--option--form{
	display: none;
	position: absolute;
    background: #fff;
    border-radius: 3px;
    left: 89px;
    top: 32px;
    width: 165px;
    padding: 11px;
    text-align: left;
    z-index: 1;
}
.social_item--plus button{
	padding: 20px;
}
.social_item--plus button:hover{
	transform: scale(1.5);
	transition: 0.4s all;
}
.show{
	display: block;
}
/*.social .social_item:before{
	display: none;
	content: url(../image/ellipsis.png);
    position: absolute;
    background: #928B8A;
    width: 28px;
    height: 24px;
    right: 3px;
    top: 8px;
    border-radius: 3px;
}*/
.social .social_item a{
	display: contents;
}
.social .social_item:hover{
    background: rgba(152,145,136, 0.5);
    border-radius: 6px 6px 0px 0px;
}
.social .social_item:hover .button_open{
	display: block;
}

.social .social_item .social_item--icon{
	padding: 14px;
    background: #fff;
    border-radius: 5px;
    height: 55px;
    width: 55px;
}
.social_item .social_item--name p{
	max-width: 11ch;
	text-overflow: Ellipsis; 
    white-space: nowrap;
    overflow:hidden;
}
.footer{
	padding:6.5vw 3.5vw 0vw 3.5vw;
}
