.signup--title label{
	font-size: 25px;
	font-style: italic;
}
.btn-signup
{
	border-radius: 30px;
	font-size: 14px;
    padding: 3px 25px;
}
.validation__error{
	display: none;
}
img{
	height: 150px;
    width: 150px;
    border-radius: 8px;
    
}
/**/

.image_item{
	position: relative;
}
.btn-delete{
	position: absolute;
    z-index: 1;
    right: 6px;
    top: 6px;
    font-size: 12px;
    color: #827f7f;
    display: none;
    cursor: pointer;
}
.image_item:hover .btn-delete{
	display: block;
}