@import "./helper/variable";
@import "./helper/mixin";
a,p,b{
	margin: 0;
	padding: 0;
	border: 0;
}
a {
	outline: none;
	&:hover{text-decoration: none;cursor: pointer;}
}
button{
	background: none;
	border:none;
	&:focus { outline: none;}
}
input{
	outline: none;
}
*{
	box-sizing: border-box;
}
body{
	background: url(../image/background.jpg) no-repeat;
	background-size: cover;
	height: $heigthScreen;
}
.top_bar{
	@include padding(2.8vw,2.5vw); 
	&--left .celcius{
		font-size: 22px;
	}
}
.search{
	& input{
		@include size(100%,42px); 
		position: $position;
	    padding-left: 11px;
	    border-radius: 5px;
	}
	& .icon{
		@include absolute("top","right",6px,2vw);
	}
	& .search_tag a
	{
		@include textOverflow(19ch); 
		padding-right: 15px;
	}
}
.social{
	width:100%;
	top: 75%;
	@include absoluteCenter("left");
	.social_item{
		position: $position;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include maxWidth(119px);
		@include padding(8px,40px,17px,40px); 
		a{
			@include Display(contents); 
		}
		&--icon{
			@include padding(14px,14px);
			@include bgRadius(#fff,5px);  
		    @include size(55px); 
		}
		&--name p{
			@include textOverflow(11ch); 
		}
		&--option > button{
			@include Display(); 
			@include size(28px,24px); 
			@include absolute("top","right",8px,2px);
			@include bgRadius(#928B8A,3px);  
		}
		&--option--form{
			@include Display(); 
			@include absolute("top","left",32px,89px);
			@include bgRadius(#fff,3px);
		    width: 165px;
		    padding: 11px;
		    text-align: left;
		    z-index: 1;
		    button{
		    	width: 100%;
    			border-radius: 4px;
    			&:hover{
		    		background: #e7e2be;
		    	}
		    }
		}
		.show{
			@include Display(block!important); 
		}
		&--plus button{
			padding: 20px;
			&:hover{
				transform: scale(1.5);
				transition: 0.4s all;
			}
		}
		&:hover{
			@include bgRadius(rgba(152,145,136, 0.5),6px 6px 0px 0px);
		}
		&:hover .button_open{
			@include Display(block); 
		}
	}
	@include max-width(1200px)
    {
        top: 65%;
    }
    @include max-width($breakPoint)
    {
        top: 45%;
    }
}
.bk_none{
	background: none!important;
}
.footer{
	@include padding(6.5vw,3.5vw,0vw,3.5vw); 
	@include absolute("bottom","right",4%,0px);
}