@media only screen and  (max-width: 1850px){
	.social {
    	margin-top: 23vw;
	}
}
@media only screen and (min-width: 1400px) and  (max-width: 1600px){
	.search .icon {
	    left: 43.5vw;
	}
}
@media only screen and (min-width: 1200px) and  (max-width: 1399px){
	.search .icon {
	    left: 42.5vw;
	}
}
@media only screen and (max-width: 1199px){
	.social {
    	margin-top: 13vw;
	}
	.search .icon {
	    left: 41.5vw;
	}
}
@media only screen and (max-width: 1120px){
	.social {
    	margin-top: 9vw;
	}
}
@media only screen and (max-width: 1024px){
	.footer {
    	padding: 4.5vw 3.5vw 0vw 3.5vw;
	}
}
@media only screen and (min-width: 768px) and  (max-width: 999px){
	.social {
    	margin-top: 9vw;
	}
	.search .icon {
	    left: 39.5vw;
	}
	.footer {
    	padding: 1.5vw 3.5vw 0vw 3.5vw;
	}
}
@media only screen and (max-width: 767px){
	.search .icon {
	    left: 85.5vw;
	}
}
@media only screen and (max-width: 580px){
	.search .icon {
	    left: 81.5vw;
	}
}
@media only screen and (max-width: 480px){}
@media only screen and (max-width: 414px){}
